Repository charisma-ai/charisma-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --trailing-comma all --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": "eslint --fix",
  "*.md": "prettier --single-quote --trailing-comma all --write"
}

update @charisma-ai/sdk package to alpha (#29)
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --single-quote --trailing-comma all --write

4.0.2-alpha
  package.json
Due: none

updated sdk version
  CHANGELOG.md
  package.json
Due: prettier --single-quote --trailing-comma all --write

4.0.3-alpha
  package.json
Due: none

update charisma-sdk to latest alpha
  package.json
  pnpm-lock.yaml
Due: none

4.0.3-alpha.2
  package.json
Due: none

update changelog for 4.0.3
  CHANGELOG.md
Due: prettier --single-quote --trailing-comma all --write

4.0.3
  package.json
Due: none

update sdk version
  package.json
  pnpm-lock.yaml
Due: none

feat: update readme with startGraphReferenceId not needed for web stories
  README.md
Due: prettier --single-quote --trailing-comma all --write

wip
  test/test-app/src/App.tsx
  test/test-app/src/ConversationView.tsx
  test/test-app/src/InputControls.tsx
  test/test-app/src/MyChat.tsx
  test/test-app/src/ReactiveMicrophoneIcon.tsx
  test/test-app/src/RecognisedSpeechPlayerInput.tsx
  test/test-app/src/TapButton.tsx
  test/test-app/src/TypedPlayerInput.tsx
  test/test-app/src/index.css
Due: none

wip
  test/test-app/package.json
  test/test-app/pnpm-lock.yaml
  test/test-app/src/App.tsx
  test/test-app/src/ConversationUuidContext.ts
  test/test-app/src/ConversationView.tsx
  test/test-app/src/ConversationWithMicrophoneAndSpeaker.tsx
  test/test-app/src/InputControls.tsx
  test/test-app/src/MyChat.tsx
  test/test-app/src/RecognisedSpeechPlayerInput.tsx
  test/test-app/src/SingleConversationPlaythrough.tsx
  test/test-app/src/TapButton.tsx
  test/test-app/src/createChat.ts
  test/test-app/src/lib/model/chat.ts
  test/test-app/src/lib/model/index.ts
  test/test-app/src/lib/model/ui.ts
  test/test-app/src/lib/store.ts
  test/test-app/src/useMicrophone.ts
  test/test-app/src/withEasyPeasy.tsx
Due: none

tidied easypeasy
  test/test-app/src/withEasyPeasy.tsx
Due: none

tidy useConversation and add isSpeaker active default to be true
  test/test-app/src/ConversationWithMicrophoneAndSpeaker.tsx
Due: none

tidy up, remove switch with control, add toggle on off voices, switch between typing and speech with button
  test/test-app/src/ConversationView.tsx
  test/test-app/src/ConversationWithMicrophoneAndSpeaker.tsx
  test/test-app/src/InputControls.tsx
  test/test-app/src/MyChat.tsx
  test/test-app/src/RecognisedSpeechPlayerInput.tsx
  test/test-app/src/SingleConversationPlaythrough.tsx
  test/test-app/src/TapButton.tsx
  test/test-app/src/TypedPlayerInput.tsx
  test/test-app/src/index.css
  test/test-app/src/useMicrophone.ts
Due: none

types
  test/test-app/src/ConversationView.tsx
Due: none

feat[#34]: hook up microphone signal for colouring icon properly
  test/test-app/src/ConversationView.tsx
  test/test-app/src/MyChat.tsx
Due: none

feat[#34]: remove redundant episode related code
  test/test-app/src/SingleConversationPlaythrough.tsx
Due: none

feat[#34]: remove unused state management of chats
  test/test-app/src/createChat.ts
  test/test-app/src/lib/model/chat.ts
  test/test-app/src/lib/model/index.ts
  test/test-app/src/lib/model/ui.ts
Due: none

feat[#34]: remove easy peasy and unused state code
  test/test-app/package.json
  test/test-app/pnpm-lock.yaml
  test/test-app/src/App.tsx
  test/test-app/src/SingleConversationPlaythrough.tsx
  test/test-app/src/lib/model/chat.ts
  test/test-app/src/lib/model/index.ts
  test/test-app/src/lib/store.ts
  test/test-app/src/withEasyPeasy.tsx
Due: none

feat[#34]: remove window audio modifications and add api key to conversation parameters
  test/test-app/src/App.tsx
  test/test-app/src/ConversationView.tsx
  test/test-app/src/MyChat.tsx
  test/test-app/src/PlayParameters.tsx
  test/test-app/src/PlaySetup.tsx
Due: none

feat[#34]: update readme
  README.md
Due: prettier --single-quote --trailing-comma all --write

chore[#34]: rename script
  README.md
  package.json
Due: prettier --single-quote --trailing-comma all --write

chore[#34]: mention set-player-speak in the readme
  README.md
Due: prettier --single-quote --trailing-comma all --write

fix version input value
  test/test-app/src/PlaySetup.tsx
Due: none

feat[#40]: add button to control microphone
  test/test-app/src/RecognisedSpeechPlayerInput.tsx
Due: none

feat[#40]: clear up code in recognised speech component
  test/test-app/src/RecognisedSpeechPlayerInput.tsx
Due: none

feat: switch STT to AWS
  test/test-app/src/ConversationView.tsx
  test/test-app/src/RecordingSwitch.tsx
Due: none

feat: remove unused speaker setup in test app
  test/test-app/src/ConversationView.tsx
  test/test-app/src/ConversationWithMicrophoneAndSpeaker.tsx
  test/test-app/src/ConversationWithSpeaker.tsx
  test/test-app/src/SingleConversationPlaythrough.tsx
  test/test-app/src/useMicrophone.ts
Due: none

feat: use user defined charisma play url inplaythough
  test/test-app/src/MyChat.tsx
  test/test-app/src/SingleConversationPlaythrough.tsx
Due: none

replace useSpeaker and useMicrophone with useAudioManager
  package.json
  pnpm-lock.yaml
  src/Playthrough.tsx
  src/index.ts
  src/useAudioManager.tsx
  src/useSpeaker.tsx
  test/test-app/src/useMicrophone.ts
Due: eslint --fix

error handling
  src/errors/AudioManagerErrors.ts
  src/useAudioManager.tsx
Due: eslint --fix

remove unused files
  src/useBackgroundAudio.ts
  src/useMicrophone.tsx
Due: eslint --fix

Add tests
  .gitignore
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/useAudioManager.test.tsx
  tsconfig.json
Due: eslint --fix

replace useSpeaker and useMicrophone with useAudioManager (#47)
  .gitignore
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/Playthrough.tsx
  src/errors/AudioManagerErrors.ts
  src/index.ts
  src/useAudioManager.test.tsx
  src/useAudioManager.tsx
  src/useBackgroundAudio.ts
  src/useMicrophone.tsx
  src/useSpeaker.tsx
  test/test-app/src/useMicrophone.ts
  tsconfig.json
Due: eslint --fix

Add ConversationContext
  src/Conversation.tsx
  src/ConversationContext.ts
  src/PlaythroughContext.ts
  src/index.ts
  src/useAudioManager.tsx
Due: eslint --fix

clean up audio manager in useEffect
  src/useAudioManager.tsx
Due: eslint --fix

Add chat demo
  demos/chat/.gitignore
  demos/chat/README.md
  demos/chat/eslint.config.js
  demos/chat/index.html
  demos/chat/package.json
  demos/chat/pnpm-lock.yaml
  demos/chat/src/App.tsx
  demos/chat/src/components/Messages.tsx
  demos/chat/src/components/MuteBackgroundButton.tsx
  demos/chat/src/components/Player.tsx
  demos/chat/src/components/PlayerInput.tsx
  demos/chat/src/components/RecordToggleButton.tsx
  demos/chat/src/components/StartButton.tsx
  demos/chat/src/components/StorySetupForm.tsx
  demos/chat/src/components/TextReplyInput.tsx
  demos/chat/src/index.css
  demos/chat/src/main.tsx
  demos/chat/src/vite-env.d.ts
  demos/chat/tsconfig.app.json
  demos/chat/tsconfig.json
  demos/chat/tsconfig.node.json
  demos/chat/vite.config.ts
Due: prettier --single-quote --trailing-comma all --write

Improve demo README
  demos/chat/README.md
Due: prettier --single-quote --trailing-comma all --write

remove hard coded story
  demos/chat/src/App.tsx
  demos/chat/src/components/StorySetupForm.tsx
Due: none
