Repository charisma-ai/charisma-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --trailing-comma all --write

Add ConversationContext (#51)
  src/Conversation.tsx
  src/ConversationContext.ts
  src/PlaythroughContext.ts
  src/index.ts
  src/useAudioManager.tsx
Due: eslint --fix

storyKey to apiKey
  demos/chat/src/App.tsx
  demos/chat/src/components/Player.tsx
  demos/chat/src/components/StorySetupForm.tsx
Due: none

small improvements
  demos/chat/src/components/Messages.tsx
  demos/chat/src/components/PlayerInput.tsx
  demos/chat/src/components/RecordToggleButton.tsx
  demos/chat/src/components/StartButton.tsx
  demos/chat/src/components/StorySetupForm.tsx
  demos/chat/src/components/TextReplyInput.tsx
Due: none

Add chat demo (#52)
  demos/chat/.gitignore
  demos/chat/README.md
  demos/chat/eslint.config.js
  demos/chat/index.html
  demos/chat/package.json
  demos/chat/pnpm-lock.yaml
  demos/chat/src/App.tsx
  demos/chat/src/components/Messages.tsx
  demos/chat/src/components/MuteBackgroundButton.tsx
  demos/chat/src/components/Player.tsx
  demos/chat/src/components/RecordToggleButton.tsx
  demos/chat/src/components/StartButton.tsx
  demos/chat/src/components/StorySetupForm.tsx
  demos/chat/src/components/TextReplyInput.tsx
  demos/chat/src/index.css
  demos/chat/src/main.tsx
  demos/chat/src/vite-env.d.ts
  demos/chat/tsconfig.app.json
  demos/chat/tsconfig.json
  demos/chat/tsconfig.node.json
  demos/chat/vite.config.ts
Due: prettier --single-quote --trailing-comma all --write

Fix chat demo setup form
  demos/chat/src/App.tsx
  demos/chat/src/components/StorySetupForm.tsx
Due: none

update readme
  README.md
Due: prettier --single-quote --trailing-comma all --write

add graph id and version to story params in demo
  demos/chat/src/App.tsx
  demos/chat/src/components/StorySetupForm.tsx
Due: none

update package json script for demo
  package.json
Due: none

Update Changelog
  CHANGELOG.md
Due: prettier --single-quote --trailing-comma all --write

remove old test app
  test/test-app/.gitignore
  test/test-app/README.md
  test/test-app/package.json
  test/test-app/pnpm-lock.yaml
  test/test-app/public/index.html
  test/test-app/src/App.tsx
  test/test-app/src/ConversationUuidContext.ts
  test/test-app/src/ConversationView.tsx
  test/test-app/src/ConversationWithMicrophoneAndSpeaker.tsx
  test/test-app/src/InputControls.tsx
  test/test-app/src/MessagesView.tsx
  test/test-app/src/MyChat.tsx
  test/test-app/src/PlayParameters.tsx
  test/test-app/src/PlaySetup.tsx
  test/test-app/src/ReactiveMicrophoneIcon.tsx
  test/test-app/src/RecognisedSpeechPlayerInput.tsx
  test/test-app/src/RecordingIndicator.tsx
  test/test-app/src/RecordingSwitch.tsx
  test/test-app/src/SingleConversationPlaythrough.tsx
  test/test-app/src/TapButton.tsx
  test/test-app/src/TypedPlayerInput.tsx
  test/test-app/src/index.css
  test/test-app/src/index.tsx
  test/test-app/tsconfig.json
Due: prettier --single-quote --trailing-comma all --write

Fix types in Messages component
  demos/chat/src/components/Messages.tsx
Due: none

v5.0.0-beta.1
  package.json
Due: none

pass story params
  demos/chat/src/App.tsx
  demos/chat/src/components/Player.tsx
  demos/chat/src/components/RecordToggleButton.tsx
  demos/chat/src/components/StartButton.tsx
Due: none

5.0.0-beta.2
  package.json
Due: none

pass story params (#56)
  demos/chat/src/App.tsx
  demos/chat/src/components/Player.tsx
  demos/chat/src/components/RecordToggleButton.tsx
  demos/chat/src/components/StartButton.tsx
  package.json
Due: none

remove function returns
  src/Conversation.tsx
  src/ConversationContext.ts
  src/Playthrough.tsx
  src/PlaythroughContext.ts
  src/SimpleConversation.tsx
  src/index.ts
Due: eslint --fix

update CHANGELOG
  CHANGELOG.md
Due: prettier --single-quote --trailing-comma all --write

57 remove function return from conversation and playthrough (#58)
  CHANGELOG.md
  src/Conversation.tsx
  src/ConversationContext.ts
  src/Playthrough.tsx
  src/PlaythroughContext.ts
  src/SimpleConversation.tsx
  src/index.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

update documentation
  README.md
Due: prettier --single-quote --trailing-comma all --write

update js sdk version
  package.json
  pnpm-lock.yaml
Due: none

fix import file endings
  src/useAudioManager.test.tsx
  src/useAudioManager.tsx
Due: eslint --fix

update package version
  package.json
Due: none

spelling error fix
  README.md
Due: prettier --single-quote --trailing-comma all --write

fix md formatting
  README.md
Due: prettier --single-quote --trailing-comma all --write

README formatting
  README.md
Due: prettier --single-quote --trailing-comma all --write

Docs updates (#60)
  README.md
  package.json
  pnpm-lock.yaml
  src/useAudioManager.test.tsx
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

update packages
  package.json
  pnpm-lock.yaml
Due: none

update packages (#61)
  package.json
  pnpm-lock.yaml
Due: none

update JS SDK version
  package.json
  pnpm-lock.yaml
Due: none

add setOutputVolume function
  src/useAudioManager.tsx
Due: eslint --fix

update README and CHANGELOG
  CHANGELOG.md
  README.md
Due: prettier --single-quote --trailing-comma all --write

v5.0.1
  package.json
Due: none

Update README.md
  README.md
Due: prettier --single-quote --trailing-comma all --write

62 add volume adjustment for character speech (#63)
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

Update js sdk package version
  package.json
  pnpm-lock.yaml
Due: none

Add setOutputVolume context type
  src/useAudioManager.tsx
Due: eslint --fix

up package version
  package.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --single-quote --trailing-comma all --write: any of: *.md
