Repository charisma-ai/charisma-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --trailing-comma all --write

stop all media audio when audio manager provider unmounts
  src/useAudioManager.tsx
Due: eslint --fix

update changelog and version
  CHANGELOG.md
  package.json
Due: prettier --single-quote --trailing-comma all --write

add clearTranscript function
  src/useAudioManager.tsx
Due: eslint --fix

add new function to type
  src/useAudioManager.tsx
Due: eslint --fix

update version and changelog
  CHANGELOG.md
  package.json
Due: prettier --single-quote --trailing-comma all --write

update js sdk
  package.json
  pnpm-lock.yaml
Due: none

pass timeout in startListening
  src/useAudioManager.test.tsx
  src/useAudioManager.tsx
Due: eslint --fix

update CHANGELOG and README
  CHANGELOG.md
  README.md
Due: prettier --single-quote --trailing-comma all --write

up version number
  package.json
Due: none

Update README.md
  README.md
Due: prettier --single-quote --trailing-comma all --write

add disconnect function
  src/useAudioManager.tsx
Due: eslint --fix

update versions and changelog
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --single-quote --trailing-comma all --write

update JS SDK version
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --single-quote --trailing-comma all --write

feat[#72]: minor demo corrections
  demos/chat/README.md
  demos/chat/index.html
Due: prettier --single-quote --trailing-comma all --write

feat[#72]: update js sdk
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  src/useAudioManager.test.tsx
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

feat[#72]: update js sdk and add interim transcripts
  CHANGELOG.md
  README.md
  demos/chat/src/App.tsx
  demos/chat/src/components/Player.tsx
  demos/chat/src/components/RecordToggleButton.tsx
  demos/chat/src/components/StorySetupForm.tsx
  demos/chat/src/components/TextReplyInput.tsx
  package.json
  pnpm-lock.yaml
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

6.0.0-alpha.1
  package.json
Due: none

feat[#72]: tweak some demo styling
  demos/chat/src/components/MuteBackgroundButton.tsx
  demos/chat/src/components/TextReplyInput.tsx
Due: none

feat[#72]: update js sdk and add queueMicrotask prioritisation for transcript processing
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

6.0.0-alpha.2
  package.json
Due: none

feat[#72]: update js sdk and add characterSpeechVolume
  CHANGELOG.md
  README.md
  demos/chat/src/components/StartButton.tsx
  demos/chat/src/components/TextReplyInput.tsx
  package.json
  pnpm-lock.yaml
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

6.0.0-alpha.3
  package.json
Due: none

feat[#72]: update js sdk with live character volume edit fix
  package.json
  pnpm-lock.yaml
Due: none

6.0.0-alpha.4
  package.json
Due: none

feat[#72]: udpate js sdk and changelog
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --single-quote --trailing-comma all --write

6.0.0
  package.json
Due: none

[rnd]: expose audio manager new audio stream/analyser node functions, and point at rnd charisma sdk branch
  package.json
  pnpm-lock.yaml
  src/useAudioManager.tsx
Due: eslint --fix

[rnd]: update pnpm lock
  pnpm-lock.yaml
Due: none

chore: remove prepare script running husky
  package.json
Due: none

feat[#73]: install ts-node, fix various typing errors around audio manager and its test file
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/useAudioManager.test.tsx
  src/useAudioManager.tsx
  tsconfig.json
Due: eslint --fix

feat[#73]: fix js/ts confusion with moduleNameMapper URL mapping, update eslint config
  .eslintrc
  jest.config.ts
  src/useAudioManager.tsx
  tsconfig.json
Due: eslint --fix

feat[#73]: remove jest, add vitest
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/useAudioManager.test.tsx
  tsconfig.json
  vitest.config.ts
Due: eslint --fix

feat[#73]: implement PR feedback
  .eslintrc
  .gitignore
  package.json
  pnpm-lock.yaml
  src/useAudioManager.test.tsx
  tsconfig.json
Due: eslint --fix

feat[#73]: remove optional param from test
  src/useAudioManager.test.tsx
Due: eslint --fix

feat[#73]: remove vite references from tsconfig, create ts test config
  tsconfig.json
  tsconfig.test.json
  vitest.config.ts
Due: none

feat[#73]: and tsconfig for build to exclude tests
  package.json
  tsconfig.build.json
  tsconfig.json
Due: none

feat[#73]: update CHANGELOG
  CHANGELOG.md
Due: prettier --single-quote --trailing-comma all --write

6.0.1-alpha.1
  package.json
Due: none

Add new audio playback hooks, rebuild
  pnpm-lock.yaml
  src/useAudioManager.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --single-quote --trailing-comma all --write: any of: *.md
