Repository charisma-ai/charisma-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --trailing-comma all --write

fix: having the same `*-once` media file now restarts the media instead of doing nothing
  src/useBackgroundAudio.ts
  src/useBackgroundVideo.ts
Due: eslint --fix

v1.8.0-alpha.1
  package.json
Due: none

v1.8.0
  package.json
Due: none

chore: update deps
  package.json
  src/Conversation.tsx
  src/SimpleConversation.tsx
  src/useMicrophone.tsx
  yarn.lock
Due: eslint --fix

feat: add availability variable/function to speaker
  src/useSpeaker.tsx
Due: eslint --fix

v1.9.0
  package.json
Due: none

build: use microbundle to build lib
  .eslintrc
  .gitignore
  package.json
  rollup.config.js
  yarn.lock
Due: none

refactor: update SDK library to v2
  src/Charisma.tsx
  src/SimpleConversation.tsx
  src/useMicrophone.tsx
Due: eslint --fix

refactor: update to v2 SDK
  package.json
  src/Charisma.tsx
  src/Context.ts
  src/Conversation.tsx
  src/Playthrough.tsx
  src/PlaythroughContext.ts
  src/SimpleConversation.tsx
  src/index.ts
  yarn.lock
Due: eslint --fix

v2.0.0-alpha.1
  package.json
Due: none

feat: add conversation state reducer
  src/Conversation.tsx
  src/index.ts
Due: eslint --fix

v2.0.0-alpha.2
  package.json
Due: none

fix: make `onStateChange` and `initialState` optional
  src/Conversation.tsx
Due: eslint --fix

v2.0.0-alpha.3
  package.json
Due: none

chore: bump @charisma-ai/sdk version
  package.json
  yarn.lock
Due: none

v2.0.0-alpha.4
  package.json
Due: none

docs: update README
  README.md
  test/Charisma.test.tsx
Due: prettier --single-quote --trailing-comma all --write

feat: add a way to cross-change videos without flashing a black screen
  src/ChangeableVideo.tsx
  src/index.ts
  src/useBackgroundVideoChangeable.tsx
Due: eslint --fix

v2.0.0-alpha.5
  package.json
Due: none

feat: add `restart` event to conversations
  package.json
  src/Conversation.tsx
  yarn.lock
Due: eslint --fix

chore: remove experimental background video component
  src/ChangeableVideo.tsx
  src/index.ts
  src/useBackgroundVideoChangeable.tsx
Due: eslint --fix

v2.0.0-alpha.6
  package.json
Due: none

chore: bump @charisma-ai/sdk@alpha
  package.json
  src/Conversation.tsx
  src/SimpleConversation.tsx
  yarn.lock
Due: eslint --fix

v2.0.0-alpha.7
  package.json
Due: none

feat: upgrade @charisma-ai/sdk and deps (move from socket.io to colyseus.js)
  .eslintrc
  package.json
  src/Conversation.tsx
  src/Playthrough.tsx
  src/useSpeaker.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix

v2.0.0-alpha.8
  package.json
Due: none

fix: update Charisma SDK to latest alpha version
  package.json
  yarn.lock
Due: none

v2.0.0-alpha.9
  package.json
Due: none

v2.0.0-alpha.10
  package.json
Due: none

fix: update Charisma SDK dependency
  README.md
  src/Conversation.tsx
  src/Playthrough.tsx
  src/SimpleConversation.tsx
  yarn.lock
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

docs: add changelog
  CHANGELOG.md
  README.md
Due: prettier --single-quote --trailing-comma all --write

chore: update to @charisma-ai/sdk@2.0.0
  package.json
  yarn.lock
Due: none

v2.0.0
  package.json
Due: none

chore: update to @charisma-ai/sdk@2.2.0 to enable track-based Speaker API
  CHANGELOG.md
  package.json
  src/useSpeaker.tsx
  yarn.lock
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v2.1.0
  package.json
Due: none

Create LICENSE.md
  LICENSE.md
Due: prettier --single-quote --trailing-comma all --write

feat: add `waitForLastResult` option to `microphone.stopListening()`
  CHANGELOG.md
  package.json
  src/useMicrophone.tsx
  yarn.lock
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v2.2.0
  package.json
Due: none

refactor: remove `onChangeCharacterMoods`
  CHANGELOG.md
  package.json
  src/Conversation.tsx
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v3.0.0
  package.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --single-quote --trailing-comma all --write: any of: *.md
