Repository charisma-ai/charisma-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --trailing-comma all --write

feat: add support for action node/event
  CHANGELOG.md
  package.json
  src/Conversation.tsx
  src/SimpleConversation.tsx
  yarn.lock
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v3.1.0-alpha.1
  package.json
Due: none

v3.1.0
  CHANGELOG.md
  package.json
  src/useMicrophone.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

feat: support for experimental pause/play and starting from a specific graph by ID or reference ID
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --single-quote --trailing-comma all --write

v3.2.0
  package.json
Due: none

chore: update deps
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: none

feat: add ability to subscribe to remote client events
  CHANGELOG.md
  src/Playthrough.tsx
  src/SimpleConversation.tsx
  src/useBackgroundAudio.ts
  src/useBackgroundVideo.ts
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v3.3.0-alpha.1
  package.json
Due: none

chore: update deps
  .eslintrc
  package.json
  src/useChangeableRef.ts
  yarn.lock
Due: eslint --fix

v3.3.0
  CHANGELOG.md
  package.json
Due: prettier --single-quote --trailing-comma all --write

feat: add support for intermediate events
  CHANGELOG.md
  package.json
  src/Conversation.tsx
  src/Playthrough.tsx
  src/SimpleConversation.tsx
  yarn.lock
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v3.4.0
  package.json
Due: none

chore: update deps
  package.json
  yarn.lock
Due: none

fix: conversations now have an `onProblem` prop
  CHANGELOG.md
  src/Conversation.tsx
  src/SimpleConversation.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

v3.4.1
  package.json
Due: none

chore: update `@charisma-ai/sdk`
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --single-quote --trailing-comma all --write

v3.4.2
  package.json
Due: none

build: switch to pnpm
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

feat: add `onResult` prop to `Microphone`
  CHANGELOG.md
  src/useMicrophone.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

3.5.0
  .husky/pre-commit
  package.json
Due: none

refactor: `playthroughId`s and `conversationId`s are now strings instead of numbers
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  src/Conversation.tsx
  src/QueuedConversation.tsx
  src/SimpleConversation.tsx
  test/Charisma.test.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

4.0.0-alpha.1
  package.json
Due: none

feat: switch to ESM only
  .eslintrc
  .npmrc
  .swcrc
  CHANGELOG.md
  LICENSE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/Conversation.tsx
  src/Playthrough.tsx
  src/QueuedConversation.tsx
  src/SimpleConversation.tsx
  src/index.ts
  src/useBackgroundAudio.ts
  src/useBackgroundVideo.ts
  src/useMicrophone.tsx
  src/useSpeaker.tsx
  test/Charisma.test.tsx
  tsconfig.json
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

4.0.0-alpha.2
  package.json
Due: none

fix: add `isolatedModules` flag
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
Due: eslint --fix

4.0.0-alpha.3
  package.json
Due: none

feat: update js sdk, add test app, update readme
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/useMicrophone.tsx
  test/Charisma.test.tsx
  test/test-app/.gitignore
  test/test-app/README.md
  test/test-app/package.json
  test/test-app/pnpm-lock.yaml
  test/test-app/public/index.html
  test/test-app/src/App.tsx
  test/test-app/src/ConversationView.tsx
  test/test-app/src/MyChat.tsx
  test/test-app/src/PlayParameters.tsx
  test/test-app/src/PlaySetup.tsx
  test/test-app/src/PlayView.tsx
  test/test-app/src/index.css
  test/test-app/src/index.tsx
  test/test-app/tsconfig.json
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

feat: test app add speech recognition
  package.json
  src/Playthrough.tsx
  test/test-app/src/App.tsx
  test/test-app/src/ConversationView.tsx
  test/test-app/src/MessagesView.tsx
  test/test-app/src/MyChat.tsx
  test/test-app/src/PlayParameters.tsx
  test/test-app/src/PlaySetup.tsx
  test/test-app/src/PlayView.tsx
  test/test-app/src/RecordingSwitch.tsx
  test/test-app/src/index.css
Due: eslint --fix

feat: add support for speech recognition started and stopped events
  .gitignore
  CHANGELOG.md
  src/Playthrough.tsx
  test/test-app/src/ConversationView.tsx
  test/test-app/src/MessagesView.tsx
  test/test-app/src/RecordingIndicator.tsx
  test/test-app/src/RecordingSwitch.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

chore: PR suggestion tweaks
  CHANGELOG.md
  test/test-app/src/App.tsx
  test/test-app/src/ConversationView.tsx
Due: prettier --single-quote --trailing-comma all --write

4.0.0-alpha.4
  package.json
Due: none

4.0.0-alpha.5
  package.json
Due: none

feat: use js sdk 4.0.0
  package.json
  pnpm-lock.yaml
Due: none

docs: update changelog
  CHANGELOG.md
Due: prettier --single-quote --trailing-comma all --write

4.0.0
  package.json
Due: none

expose Conversation as ConversationType
  src/index.ts
Due: eslint --fix

Update CHANGELOG
  CHANGELOG.md
Due: prettier --single-quote --trailing-comma all --write

4.0.1
  package.json
Due: none

update @charisma-ai/sdk package to alpha
  package.json
  pnpm-lock.yaml
Due: none

update changelog
  CHANGELOG.md
Due: prettier --single-quote --trailing-comma all --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --single-quote --trailing-comma all --write: any of: *.md
