Repository charisma-ai/charisma-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --single-quote --trailing-comma all --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": "eslint --fix",
  "*.md": "prettier --single-quote --trailing-comma all --write"
}

6.0.1
  package.json
Due: none

always send react copy of volume before playing character speech, to ensure it is correctly applied
  CHANGELOG.md
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

6.0.2-alpha.1
  package.json
Due: none

6.0.2-alpha.2
  package.json
Due: none

feat[78]: volume change correction
  src/useAudioManager.tsx
Due: eslint --fix

6.0.2-alpha.3
  package.json
Due: none

6.0.2-alpha.4
  package.json
Due: none

feat[78]: update js sdk
  package.json
  pnpm-lock.yaml
Due: none

6.0.2-alpha.5
  package.json
Due: none

Add new character speech ended callback
  pnpm-lock.yaml
  src/useAudioManager.tsx
Due: eslint --fix

feat[#78]: update to new audio functions
  CHANGELOG.md
  README.md
  demos/chat/src/App.tsx
  demos/chat/src/components/AudioControls.tsx
  demos/chat/src/components/AudioControls/BackgroundAudio.tsx
  demos/chat/src/components/AudioControls/CharacterAudio.tsx
  demos/chat/src/components/Player.tsx
  package.json
  pnpm-lock.yaml
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

chore[#78]: add tip in readme
  README.md
Due: prettier --single-quote --trailing-comma all --write

7.0.0-alpha.1
  package.json
Due: none

feat[#78]: force a rerender when mute or volume values are set
  src/useAudioManager.tsx
Due: eslint --fix

7.0.0-alpha.2
  package.json
Due: none

feat[#78]: use sdk v7.0.0
  package.json
  pnpm-lock.yaml
Due: none

docs: update changelog
  CHANGELOG.md
Due: prettier --single-quote --trailing-comma all --write

7.0.0
  package.json
Due: none

reinstall deps, pack
  charisma-ai-react-7.0.0.tgz
  pnpm-lock.yaml
Due: none

feat: update js sdk
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --single-quote --trailing-comma all --write

feat: add character speech analyser node
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

docs: update CHANGELOG
  CHANGELOG.md
Due: prettier --single-quote --trailing-comma all --write

7.0.1
  package.json
Due: none

feat: fix type bug
  CHANGELOG.md
  src/useAudioManager.tsx
Due: eslint --fix, prettier --single-quote --trailing-comma all --write

7.0.2
  package.json
Due: none
